<head>
    <meta charset="utf-8">
    <title>My Personal Blog</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

{% block content %}
<h1>Similarity with Django and PGVector</h1>

<div class="mb-4">
    <form method="POST">
        {% csrf_token %}
        <div class="form_group">
            <label for="input_text">Enter text</label>
            <textarea name="input_text" id="input-text" class="form-control mb-2"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% for embedding in embeddings %}
    <h3>{{ embedding.title }}: </h3>
    <p>{{ embedding.content }}</p>
    <pre>{{ embedding.embedding }}</pre>
{% endfor %}

{% endblock %}